@keyframes bounce {
    0% {
        transform: rotate(-45deg);
    }
    70% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    90% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(10rem);
    }

    65% {
        transform: translateY(-4rem);
    }


    to{
        transform: translateY(0rem);
        opacity: 1;
    }
    
}