.title {

    &-small {
        letter-spacing: 0.5rem;
        font-size: 1.7rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        &-none {
            border: none;
            letter-spacing: 0.5rem;
            font-size: 1.7rem;
        }
    }
}

.text {

    &-primary{
        color: var(--primary);
    }
    &-hint{
        color: var(--hint);
    }
}
